body {
  background-color: #121212;
  color: #0e0e0e;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  color: #0645ad;
}

a {
  color: #0645ad;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
